<!-- Footer -->
    <footer class="footer bg-light">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 h-100 text-center text-lg-left my-auto">
            <ul class="list-inline mb-2">
              {{#link-to 'terms' class="list-inline-item" tagName="li"}}<a class="nav-link" href="">Terms &amp; Conditions</a>{{/link-to}}
              <li class="list-inline-item">&sdot;</li>
              {{#link-to 'privacy' class="list-inline-item" tagName="li"}}<a class="nav-link" href="">Privacy Policy</a>{{/link-to}}
            </ul>
            <p class="text-muted small mb-4 mb-lg-0">&copy; CPSC 473 2018. All Rights Reserved.</p>
          </div>
        </div>
      </div>
    </footer>