<section class="how-it-works">
  <header class="masthead text-white text-center">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <h2 class="masthead-subheading mb-0">An overview of hiring and freelancing on Freelance</h2>
          <h6>Get started today!</h6>
        </div>
      </div>
    </div>
  </header>

  <section>
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6 order-lg-2">
          <div class="p-5">
            <img class="img-fluid img-thumbnail" src="/images/how-it-works/data-science-magic.svg" alt="">
          </div>
        </div>
        <div class="col-lg-6 order-lg-1">
          <div class="p-5">
            <h2 class="display-4">Post programming jobs for the world to see!</h2>
            <p>Posting a job is easy as 1-2-3! As a client, post a genreal job description and its requirements, select
              what programming language you would like to have it done in, set your budge, and submit! Watch as prospective freelancers
            set their bid on how much they would be willing to take on your project for and have your pick! </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6">
          <div class="p-5">
            <img class="img-fluid img-thumbnail" src="/images/how-it-works/hire-freelancer.svg" alt="">
          </div>
        </div>
        <div class="col-lg-6">
          <div class="p-5">
            <h2 class="display-4">Freelancers, we got your back!</h2>
            <p>Getting started is easy! Sign up as a freelancer and in a couple of minutes,
            you can take on a multitude of jobs to boost your portfolio! Select from a list of Jobs
          you would like to take on, place a bid, and see whether or not your client selects you!</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6 order-lg-2">
          <div class="p-5">
            <img class="img-fluid img-thumbnail" src="/images/how-it-works/pay-easily.svg" alt="">
          </div>
        </div>
        <div class="col-lg-6 order-lg-1">
          <div class="p-5">
            <h2 class="display-4">Breaking out into the field is as easy as ever!</h2>
            <p>At Freelancer, establishing yourself as a prominent clientele or freelancer
            has never been easier. Your portfolio is now visible for everyone to see what you have accomplished!</p>
          </div>
        </div>
      </div>
    </div>
  </section>

</section>