<nav class="navbar navbar-expand-lg navbar-light bg-light">
  {{#link-to 'index' class="navbar-brand logo"}}Freelance{{/link-to}}
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      {{#if session.isAuthenticated}}
      {{#link-to 'find-work' (query-params category=null query=null) class="nav-item" tagName="li" }}
      <a class="nav-link" href="">Find Work</a>{{/link-to}} 
      {{/if}}
      <li class="nav-item">
        {{#link-to 'how-it-works' class="nav-link" tagName="a"}}How It Works{{/link-to}}
      </li>

      {{#if session.isAuthenticated}}
        {{#link-to 'account' class="nav-item" tagName="li"}}<a class="nav-link" href="">My Account</a>{{/link-to}}
        {{#link-to 'logout' class= "nav-item" tagName="li" }}<a class="nav-link" href="">Logout</a>{{/link-to}}
      {{else}}
        {{#link-to 'sign-up' class="nav-item" tagName="li"}}<a class="nav-link" href="">Sign Up</a>{{/link-to}} 
        {{#link-to 'login' class="nav-item" tagName="li"}}<a class="nav-link" href="">Login</a>{{/link-to}}
      {{/if}}
    </ul>
    
    {{#if session.isAuthenticated}}
    <form class="form-inline my-2 my-lg-0" style="padding-right: 25px;">
      <button class="btn btn-outline-success" type="button">{{#link-to 'post-job' class="post-job"}}Post a Job{{/link-to}}</button>
    </form>

    <form class="form-inline my-2 my-lg-0">
      {{input type='search' class='form-control mr-sm-2' value=search placeholder='Search Jobs' aria-label="Search"}}
      {{#link-to "find-work" (query-params query = search) class="btn btn-outline-success my-2 my-sm-0"}}Search{{/link-to}}
    </form>
    {{/if}}

  </div>
</nav>